@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Inter";
}
body {
  background: #151719;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  max-width: 1104px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-sm {
  max-width: 768px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.li:first-child {
  font-weight: 500;
  color: #d9e3ea;
}
